<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/utils.js"></script>
    <script src="../static/js/login.js"></script>
</head>

<body class="d-flex vh-100 align-items-center justify-content-center">
    <main class="bgPersonalizado p-5 rounded-4 shadow" style="max-width: 400px; width: 100%;">
        <div class="mb-5 text-center">
            <h1>Login</h1>
        </div>
        <form id="formLogin">
            <div class="mb-3">
                <label for="email" class="form-label ms-1">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Digite o Login">
                <div class="invalid-feedback" id="error-email"></div>
            </div>
            <div class="mb-4">
                <label for="password" class="form-label ms-1">Senha</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="password" name="password" placeholder="Digite a Senha">
                    <button class="btn btn-outline-secondary material-icons-round" type="button"
                    id="visualizacaoLogin">visibility</button>
                    <div class="invalid-feedback" id="error-password"></div> </div>
                </div>
            <div class="form-check form-check-inline mb-3">
                <input class="form-check-input" type="checkbox" id="rememberMe" name="rememberMe">
                <label class="form-check-label" id="labelRemember" for="rememberMe">Manter-me conectado</label>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary w-100" id="btnLogin">Entrar</button>
            </div>
        </form>

        <div class="modal fade" id="errorModal" tabindex="-1" aria-labelledby="errorModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content border-danger">
                    <div class="modal-header bg-danger text-white">
                        <h5 class="modal-title" id="errorModalLabel">Erro</h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" id="errorModalBody">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="toast-container position-fixed top-0 start-50 translate-middle-x p-4" style="z-index: 1;">
            <div id="toastNotification" class="toast align-items-center border-0" role="alert" aria-live="assertive" aria-atomic="true">
                <div class="d-flex justify-content-center">
                    <div class="toast-body" id="mensageErrorNotification"></div>
                </div>
            </div>
        </div>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>
</body>

</html>