<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Projetos</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript"></script>

<link rel="stylesheet" href="https://public.codepenassets.com/css/normalize-5.0.0.min.css">
<link rel="stylesheet" href="../Static/tabelas.css">

</head>
<body>

<div id="demo">
  <h1>Cadastro de projetos</h1>
  
  <div class="table-responsive-vertical shadow-z-1">
    <table id="table" class="table table-hover table-mc-light-blue">
      <thead>
        <tr>
          <th>ID</th>
          <th>Projeto</th>
          <th>Data de Início</th>
          <th>Data de Entrega</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-title="ID">1</td>
          <td data-title="Project Name">Loja de Celulares</td>
          <td data-title="Start Date">10/10/2025</td>
          <td data-title="End Date">11/10/2025</td>
          <td data-title="Status">Iniciado</td>
        </tr>
        <tr>
          <td data-title="ID">2</td>
          <td data-title="Project Name">SaaS - Pedidos Online</td>
          <td data-title="Start Date">09/11/2025</td>
          <td data-title="End Date">11/05/2026</td>
          <td data-title="Status">Não Iniciado</td>
        </tr>
        <tr>
          <td data-title="ID">3</td>
          <td data-title="Project Name">Sistema de Venda de Ingressos</td>
          <td data-title="Start Date">08/03/2025</td>
          <td data-title="End Date">08/03/2026</td>
          <td data-title="Status">Em Progresso</td>
        </tr>
        <tr>
          <td data-title="ID">4</td>
          <td data-title="Project Name">Portal de Cursos Online</td>
          <td data-title="Start Date">15/04/2025</td>
          <td data-title="End Date">15/10/2025</td>
          <td data-title="Status">Iniciado</td>
        </tr>
        <tr>
          <td data-title="ID">5</td>
          <td data-title="Project Name">Aplicativo de Controle Financeiro</td>
          <td data-title="Start Date">01/06/2025</td>
          <td data-title="End Date">01/12/2025</td>
          <td data-title="Status">Planejado</td>
        </tr>
        <tr>
          <td data-title="ID">6</td>
          <td data-title="Project Name">Marketplace de Artesanato</td>
          <td data-title="Start Date">12/07/2025</td>
          <td data-title="End Date">12/01/2026</td>
          <td data-title="Status">Não Iniciado</td>
        </tr>
        <tr>
          <td data-title="ID">7</td>
          <td data-title="Project Name">Sistema de Reservas de Hotéis</td>
          <td data-title="Start Date">20/08/2025</td>
          <td data-title="End Date">20/02/2026</td>
          <td data-title="Status">Iniciado</td>
        </tr>
        <tr>
          <td data-title="ID">8</td>
          <td data-title="Project Name">Aplicativo de Receitas Culinárias</td>
          <td data-title="Start Date">05/09/2025</td>
          <td data-title="End Date">05/03/2026</td>
          <td data-title="Status">Em Progresso</td>
        </tr>
        <tr>
          <td data-title="ID">9</td>
          <td data-title="Project Name">Plataforma de Ensino de Idiomas</td>
          <td data-title="Start Date">15/10/2025</td>
          <td data-title="End Date">15/04/2026</td>
          <td data-title="Status">Planejado</td>
        </tr>
        <tr>
          <td data-title="ID">10</td>
          <td data-title="Project Name">Ferramenta de Gestão de Projetos</td>
          <td data-title="Start Date">01/11/2025</td>
          <td data-title="End Date">01/05/2026</td>
          <td data-title="Status">Iniciado</td>
        </tr>        
      </tbody>
    </table>
  </div>
  <div class="containerBtn">
    <button class="btn">Adicionar Projeto</button>
  </div>

</body>
</html>
